# FQDN of Web/ API Service
WEB_HOSTNAME=<FQDN of web service, i.e. red.cb-net.co.uk>

# Branding/ brand name
BRAND="A Device Bridge"

# Cookie Secret
COOKIE_SECRET=<HTTP secret for cookie>

GOOGLE_ANALYTICS_TID=<TID used for capacity management/ event logging>

# Alexa State Report API Key
ALEXA_CLIENTID=<clientId string>
ALEXA_CLIENTSECRET=<client secret>

# Google Homegraph API Key
HOMEGRAPH_APIKEY=<API key>